@model SalaryApplication.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Home Page </h1>

@if (Model != null)
            {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => model.Role)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.PassWord)
            </td>
            <td>
               
                {
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> 
              
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> 

            </td>
        </tr>

    </tbody>
</table>


            }

